<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @teacher.type %>
</p>

<p>
  <strong>Lesson:</strong>
  <%= @teacher.lesson_id %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
